In [3]:
import numpy as np
import pandas as pd

In [4]:
dt = pd.read_csv("dataset_Facebook.csv",sep=';')

In [23]:
dt.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [10]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
Page total likes                                                       500 non-null int64
Type                                                                   500 non-null object
Category                                                               500 non-null int64
Post Month                                                             500 non-null int64
Post Weekday                                                           500 non-null int64
Post Hour                                                              500 non-null int64
Paid                                                                   499 non-null float64
Lifetime Post Total Reach                                              500 non-null int64
Lifetime Post Total Impressions                                        500 non-null int64
Lifetime Engaged Users                                                 500 non-null int64
Lifetime Post Consumers                                                500 non-null int64
Lifetime Post Consumptions                                             500 non-null int64
Lifetime Post Impressions by people who have liked your Page           500 non-null int64
Lifetime Post reach by people who like your Page                       500 non-null int64
Lifetime People who have liked your Page and engaged with your post    500 non-null int64
comment                                                                500 non-null int64
like                                                                   499 non-null float64
share                                                                  496 non-null float64
Total Interactions                                                     500 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

Из приведенного выше результата выполнения DataFrame.info() видно, что в исходном дата сете отсутствуют некоторые значения, в частности одно в стобце "Paid", одно в "like" и 4 в "share", всего получается 5 строк (одна из строк содержит два отсутствующих значения). Можно просто удалить эти строки, т.к. они значимо не повлияют на значения вычисляемых статистических характеристик.

In [15]:
df = dt.dropna()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 498
Data columns (total 19 columns):
Page total likes                                                       495 non-null int64
Type                                                                   495 non-null object
Category                                                               495 non-null int64
Post Month                                                             495 non-null int64
Post Weekday                                                           495 non-null int64
Post Hour                                                              495 non-null int64
Paid                                                                   495 non-null float64
Lifetime Post Total Reach                                              495 non-null int64
Lifetime Post Total Impressions                                        495 non-null int64
Lifetime Engaged Users                                                 495 non-null int64
Lifetime Post Consumers                                                495 non-null int64
Lifetime Post Consumptions                                             495 non-null int64
Lifetime Post Impressions by people who have liked your Page           495 non-null int64
Lifetime Post reach by people who like your Page                       495 non-null int64
Lifetime People who have liked your Page and engaged with your post    495 non-null int64
comment                                                                495 non-null int64
like                                                                   495 non-null float64
share                                                                  495 non-null float64
Total Interactions                                                     495 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 77.3+ KB

In [17]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,4.950000e+02,495.000000,495.000000,495.000000,4.950000e+02,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000
mean,123173.268687,1.886869,7.028283,4.133333,7.844444,0.280808,14028.101010,2.985698e+04,926.830303,804.155556,1425.921212,1.691628e+04,6641.355556,614.135354,7.557576,179.145455,27.264646,213.967677
std,16203.818031,0.853268,3.304274,2.030735,4.385064,0.449849,22821.050008,7.714291e+04,987.713267,885.184440,2007.663460,6.007402e+04,7700.266455,614.346297,21.274384,324.412161,42.656388,381.677449
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.000000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,112324.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3331.000000,5.798000e+03,399.000000,335.000000,512.500000,4.073500e+03,2213.000000,297.500000,1.000000,57.000000,10.000000,72.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5290.000000,9.084000e+03,630.000000,555.000000,861.000000,6.282000e+03,3478.000000,416.000000,3.000000,101.000000,19.000000,125.000000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13248.000000,2.250300e+04,1062.000000,969.000000,1479.000000,1.514300e+04,8018.000000,658.500000,7.000000,188.000000,32.500000,231.000000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.000000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.000000,5172.000000,790.000000,6334.000000

Таким образом, высчитали основные статистические показатели для каждого из столбцов исходного дата сета, где
* mean - среднее значение;
* min/max - минимальное/максимальное значения;
* 50% - 50-й перцентиль - медиана

In [52]:
df.mode(axis=0)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,124940.0,Photo,1.0,10.0,6.0,3.0,0.0,2232.0,4372.0,537.0,182.0,431.0,1284.0,690,403.0,0.0,98.0,13.0,39.0
1,NaN,NaN,NaN,NaN,7.0,NaN,NaN,2645.0,6503.0,NaN,298.0,513.0,2541.0,704,NaN,NaN,NaN,14.0,75.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2938.0,7004.0,NaN,319.0,599.0,2888.0,1228,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3322.0,8533.0,NaN,322.0,652.0,3675.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.0,8745.0,NaN,335.0,719.0,4911.0,1674,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,12735.0,NaN,374.0,730.0,4935.0,1722,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3528.0,NaN,NaN,482.0,795.0,5010.0,2044,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3754.0,NaN,NaN,503.0,889.0,5732.0,2124,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5280.0,NaN,NaN,513.0,NaN,NaN,2162,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5290.0,NaN,NaN,642.0,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6692.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9528.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13544.0,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32208.0,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5372,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7020,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8032,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8120,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

Таблица выше представляет собой перечисление мод для каждого столбца исходного дата сета. Как можно заметить, например, для столбца 'Lifetime Post reach by people who like your Page' существует целых 30 различных мод.

In [29]:
df['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

Теперь посчитаем основные статистические показатели для каждого типа контента (столбец "Type") - Photo, Status, Link, Video

In [18]:
df[df['Type'] == 'Photo'].describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000,4.210000e+02,421.000000,421.000000,421.000000,4.210000e+02,421.000000,421.000000,421.000000,421.000000,421.000000,421.000000
mean,122319.612827,1.926366,6.790974,4.087886,8.004751,0.282660,13275.389549,2.930615e+04,825.368171,695.475059,1310.334917,1.659465e+04,6118.539192,510.964371,7.581948,184.066508,27.156770,218.805226
std,16242.669134,0.884681,3.228447,2.056203,4.432561,0.450828,22977.950816,8.138706e+04,871.390487,734.384315,1974.750382,6.486468e+04,7845.941764,400.796595,22.641009,346.542549,44.973104,407.568504
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.000000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,109670.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3110.000000,5.439000e+03,421.000000,337.000000,521.000000,3.779000e+03,2110.000000,305.000000,1.000000,58.000000,10.000000,72.000000
50%,128032.000000,2.000000,7.000000,4.000000,9.000000,0.000000,4708.000000,8.198000e+03,612.000000,539.000000,834.000000,5.648000e+03,3136.000000,403.000000,3.000000,101.000000,19.000000,124.000000
75%,136013.000000,3.000000,10.000000,6.000000,11.000000,1.000000,10844.000000,1.744200e+04,951.000000,837.000000,1336.000000,1.098700e+04,5696.000000,570.000000,7.000000,187.000000,32.000000,226.000000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.000000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,3430.000000,372.000000,5172.000000,790.000000,6334.000000

In [53]:
df[df['Type'] == 'Photo'].mode(axis=0)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,124940.0,Photo,1.0,4.0,7.0,3.0,0.0,2232.0,4372.0,537.0,298.0,431.0,1284.0,690,403.0,0.0,79.0,14.0,39.0
1,NaN,NaN,NaN,6.0,NaN,NaN,NaN,2938.0,6503.0,NaN,319.0,513.0,2541.0,704,NaN,NaN,98.0,NaN,NaN
2,NaN,NaN,NaN,10.0,NaN,NaN,NaN,3322.0,7004.0,NaN,335.0,599.0,2888.0,1228,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.0,8533.0,NaN,374.0,652.0,3675.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,8745.0,NaN,482.0,719.0,4911.0,1674,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3528.0,12735.0,NaN,503.0,730.0,4935.0,1722,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3754.0,NaN,NaN,513.0,795.0,5010.0,2044,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5280.0,NaN,NaN,642.0,889.0,5732.0,2124,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5290.0,NaN,NaN,NaN,NaN,NaN,2162,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9528.0,NaN,NaN,NaN,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32208.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

In [19]:
df[df['Type'] == 'Status'].describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,132647.044444,2.022222,9.066667,4.577778,7.244444,0.222222,13078.888889,24244.466667,2040.222222,1949.555556,2838.866667,18664.266667,9908.577778,1719.844444,8.911111,176.711111,31.422222,217.044444
std,7902.145290,0.398228,2.553073,1.924588,3.926342,0.420437,5218.086371,9929.142874,1351.996838,1319.980433,2075.419548,7521.069017,3997.608572,1083.684581,12.451400,150.772499,24.272589,178.479940
min,104070.000000,1.000000,3.000000,1.000000,2.000000,0.000000,3930.000000,7509.000000,128.000000,86.000000,112.000000,5009.000000,2410.000000,101.000000,0.000000,13.000000,1.000000,17.000000
25%,131300.000000,2.000000,7.000000,3.000000,3.000000,0.000000,9232.000000,17099.000000,1151.000000,1073.000000,1512.000000,13887.000000,7360.000000,995.000000,2.000000,86.000000,16.000000,106.000000
50%,135713.000000,2.000000,10.000000,5.000000,9.000000,0.000000,11096.000000,20849.000000,1701.000000,1599.000000,2201.000000,17502.000000,8980.000000,1604.000000,4.000000,150.000000,28.000000,186.000000
75%,138353.000000,2.000000,12.000000,6.000000,10.000000,0.000000,15816.000000,30514.000000,2675.000000,2567.000000,3420.000000,22103.000000,11792.000000,2256.000000,10.000000,226.000000,39.000000,265.000000
max,139441.000000,3.000000,12.000000,7.000000,15.000000,1.000000,31136.000000,59964.000000,6164.000000,5934.000000,9237.000000,37849.000000,21352.000000,4376.000000,60.000000,859.000000,123.000000,1009.000000

In [54]:
df[df['Type'] == 'Status'].mode(axis=0)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441.0,Status,2.0,12.0,5.0,10.0,0.0,NaN,NaN,NaN,NaN,1692.0,NaN,NaN,NaN,2.0,86.0,1.0,117.0
1,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,99.0,13.0,121.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129.0,18.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,36.0,NaN

In [20]:
df[df['Type'] == 'Link'].describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,116363.181818,1.136364,6.590909,4.272727,5.727273,0.272727,18544.590909,28725.454545,342.818182,292.681818,374.090909,11148.590909,6544.363636,210.545455,2.818182,73.318182,12.909091,89.045455
std,21459.767350,0.467563,4.563406,1.856310,3.930126,0.455842,21399.411331,50042.047711,340.174414,291.385261,358.404787,8888.568907,5960.612461,188.873030,3.633657,85.746240,11.751025,95.720564
min,85979.000000,1.000000,1.000000,1.000000,2.000000,0.000000,1536.000000,3094.000000,24.000000,23.000000,26.000000,2307.000000,1180.000000,19.000000,0.000000,5.000000,0.000000,6.000000
25%,98829.250000,1.000000,3.000000,3.000000,3.000000,0.000000,3878.000000,6861.500000,105.000000,84.750000,120.000000,6367.750000,3156.000000,92.250000,0.000000,19.500000,5.500000,32.750000
50%,115396.000000,1.000000,4.500000,4.500000,4.000000,0.000000,7422.000000,9773.000000,244.000000,205.000000,290.000000,9034.500000,5039.000000,161.500000,1.500000,37.000000,10.500000,52.500000
75%,138059.000000,1.000000,11.750000,6.000000,9.250000,0.750000,30938.000000,26153.750000,422.000000,355.750000,472.750000,13903.750000,8140.000000,251.750000,4.000000,110.750000,15.000000,125.000000
max,138895.000000,3.000000,12.000000,7.000000,14.000000,1.000000,70912.000000,229733.000000,1374.000000,1106.000000,1345.000000,42338.000000,27232.000000,788.000000,15.000000,379.000000,44.000000,420.000000

In [55]:
df[df['Type'] == 'Link'].mode(axis=0)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,138353.0,Link,1.0,12.0,6.0,3.0,0.0,NaN,NaN,66.0,322.0,NaN,NaN,NaN,NaN,0.0,12.0,2.0,14.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN

In [21]:
df[df['Type'] == 'Video'].describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,7.000000,7.0,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,135014.857143,1.0,9.571429,3.571429,8.714286,0.571429,51205.714286,102622.428571,1707.00000,1584.714286,2600.142857,43149.857143,17386.285714,979.428571,12.285714,231.428571,52.142857,295.857143
std,4730.551709,0.0,2.299068,1.511858,4.347961,0.534522,48825.191031,101838.314111,1174.78608,1160.701471,2296.643524,31072.683306,9861.583607,650.805362,8.693183,142.025652,42.643595,183.992236
min,126424.000000,1.0,6.000000,2.000000,2.000000,0.000000,13544.000000,30235.000000,459.00000,411.000000,539.000000,21436.000000,9568.000000,363.000000,2.000000,65.000000,13.000000,81.000000
25%,132835.000000,1.0,8.000000,2.500000,6.500000,0.000000,19144.000000,36181.500000,829.00000,763.000000,1197.500000,25644.500000,12340.000000,503.000000,4.000000,121.000000,13.500000,144.000000
50%,137893.000000,1.0,11.000000,3.000000,11.000000,1.000000,30624.000000,56950.000000,1779.00000,1643.000000,2331.000000,30131.000000,14112.000000,885.000000,17.000000,204.000000,44.000000,271.000000
75%,138111.000000,1.0,11.000000,4.500000,11.000000,1.000000,68488.000000,140854.500000,2090.50000,1845.500000,2804.500000,45845.500000,17312.000000,1192.000000,18.000000,330.000000,80.000000,440.500000
max,138895.000000,1.0,12.000000,6.000000,13.000000,1.000000,139008.000000,277100.000000,3872.00000,3822.000000,7327.000000,107502.000000,38720.000000,2218.000000,23.000000,449.000000,121.000000,550.000000

In [56]:
df[df['Type'] == 'Video'].mode(axis=0)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,137893.0,Video,1.0,11.0,2,11.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,13.0,NaN
1,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN

Найдем самый популярный объект в выборке.  
Для этого найдем строку с максимальным значением в стобце 'Total Interactions', который представляет собой сумму действий пользователей над постом - comment, like и share.

In [30]:
dt['Total Interactions'].argmax()

244

In [31]:
dt.iloc[244]

Page total likes                                                       130791
Type                                                                    Photo
Category                                                                    2
Post Month                                                                  7
Post Weekday                                                                3
Post Hour                                                                   5
Paid                                                                        1
Lifetime Post Total Reach                                              180480
Lifetime Post Total Impressions                                        319133
Lifetime Engaged Users                                                   8072
Lifetime Post Consumers                                                  4010
Lifetime Post Consumptions                                               6242
Lifetime Post Impressions by people who have liked your Page           108752
Lifetime Post reach by people who like your Page                        51456
Lifetime People who have liked your Page and engaged with your post      3316
comment                                                                   372
like                                                                     5172
share                                                                     790
Total Interactions                                                       6334
Name: 244, dtype: object

Однако стоит учитывать тот факт, что значение столбца 'Total Interactions' зависит от количества людей, которые просмотрели пост. Зачастую чем больше лайков, комментариев и репостов, тем больше была аудитория у данного поста. Поэтому стоит высчитать долю целевых действий('Total Interactions') от общего количества людей, которым виден этот пост ('Lifetime Post Total Reach')

In [48]:
a = dt['Total Interactions']/dt['Lifetime Post Total Reach']

In [49]:
a.argmax()

87

In [50]:
dt.iloc[87]

Page total likes                                                       137177
Type                                                                    Photo
Category                                                                    3
Post Month                                                                 11
Post Weekday                                                                3
Post Hour                                                                  10
Paid                                                                        0
Lifetime Post Total Reach                                                4012
Lifetime Post Total Impressions                                          7955
Lifetime Engaged Users                                                    550
Lifetime Post Consumers                                                   319
Lifetime Post Consumptions                                                477
Lifetime Post Impressions by people who have liked your Page             4625
Lifetime Post reach by people who like your Page                         2218
Lifetime People who have liked your Page and engaged with your post       403
comment                                                                     3
like                                                                      270
share                                                                      38
Total Interactions                                                        311
Name: 87, dtype: object